/*.navbar-green {
	background: #0B9547;
	border: none;
}

.navbar-text-color > li > a {
  color: white;
}*/

.navbar-default {
	background-color: #0B9648;
	border : none;
	color: #FFFFFF;
}

.navbar-default .navbar-brand {
	color: #FFFFFF;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #1B9DD7;
	background-color: transparent;;
}

.navbar-default .navbar-nav > li > a {
	color: #FFFFFF;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: red;
	background-color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #0B0B0B;
	background-color: transparent;
}

.navborder {
	border-radius: 9px 9px 9px 9px;
	-moz-border-radius: 9px 9px 9px 9px;
	-webkit-border-radius: 9px 9px 9px 9px;
	border: 0px solid #000000;
}

body {
	background-image: url(../images/bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: white;

}

hr {
	border-top: 1px solid white;
}

.tx {
	text-align: center;
	color: white;
	background: transparent;
	text-decoration: none;

	
	font-size: 15px;
	letter-spacing: 0;
	text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
}

.big_tx {
	text-align: center;
	color: white;
	background: transparent;
	text-decoration: none;

	
	font-size: 20px;
	letter-spacing: 0;
	text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
}

.txt {
	height: 64px;
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border: 0px solid #000000;
	margin: .4em 0;
}
.t {
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border: 0px solid #000000;
}

.marg {
	margin: .4em 0;
}

.conc {
	background-color: #0B9648;
	height: 20px;
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border: 0px solid #000000;
	margin: .2em 0;	
}

.bol_1 {
	background-color: #EB781E;	
}

.bol_2 {
	background-color: #0B9648;	
}

.bol_3 {
	background-color: #E32227;	
}

.bol_4 {
	background-color: #1A9CD6;	
}

.wrap{
	width:100%;
	height:150px;
	display:block;
	position:fixed;
    bottom:0px;
}

.space {
	padding-bottom: 10px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: auto;
	background-color: transparent;
	display: inline;
}

.delay1 {
	-webkit-animation-delay: 1s;
}

.delay2 {
	-webkit-animation-delay: 2s;
}

.delay3 {
	-webkit-animation-delay: 1s;
}

.delay4 {
	-webkit-animation-delay: 2s;
}

.textdeco {
	text-decoration: none;
}
